@media(max-width: 1640px){
    .popularity__right{
        background-color: #fff;
        padding-left: 10px;
        padding-right:0px;
    }
    .history__wrapper{
        background-size: 50%;
    }
    .history__form{
        margin-left: 0;
    }
}
@media(max-width: 1400px){
    .popularity__wrapper{
        background-size: 750px;
    }
}
@media(max-width: 1230px){
    .popularity__wrapper{
        min-height: 1270px;
        background-position-y: 80%;
        background-position-x: center;
        position: relative;
    }
    .popularity__inner {
        align-items: center;
        flex-direction: column-reverse;
    }
    .popularity__right {
        max-width: 768px;
        padding-right: 15px;
        margin: 0px auto;
    }
    .popularity__right-title{
        text-align: center;
    } 
    .popularity__box {
        width: 600px;
        padding: 20px;
        position: absolute;
        bottom: 8%;
    }
    .popularity__box-text{
        margin-right: 0px;
    }
    .history{
        padding-top: 80px;
        background-color: #f6f9f3;
    }
    .history .container{
        padding: 0px;
    }
    .history__wrapper{
        background-image: none;
    }
    .history__title{
        text-align: center;
    }
    .history__title,
    .history__text{
        max-width: 100%;
        padding-top:0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .history__form{
        max-width: 100%;
        background-color: #fff;
        padding-top:30px;
        padding-left: 45px;
        padding-right: 50%;
        padding-bottom: 170px;
        position: relative;
    }
    .history__form::after{
        content: ' ';
        width: 352px;
        height: 420px;
        background-image: url(../images/alonco_tablet.png);
        background-size: cover;
        position: absolute;
        top: -20px;
        right: 50px;
    }
    .composition__box{
        max-width: 50%;
        padding-left: 40px;
    }
    
    
}
@media(max-width: 1120px){
    .advantages__inner{
        flex-wrap: wrap;
        padding-left: 8%;
        padding-right: 0;
    }
    .advantages__item{
        width: 46%;
        padding-right: 50px;
        margin-bottom: 60px;
        margin-right: 20px;
    }
    .composition__box{
        max-width: 50%;
        padding-left: 40px;
    }
    .composition__item {
        width: 24%;
        margin-right: 2px;
    }
    .composition__item-inner {
        width: 100%
    }
    .composition__link {
        padding-right: 70px;
        margin-left: 10px;
        max-width: 74%;
    }
}
@media(max-width: 1040px){
    .top__inner-img{
        margin: 0px;
    }
}
@media(max-width: 1000px){
    .advantages {
        margin-bottom: 90px;
    }
    .list__inner{
        flex-direction: column;
    }
    .list__title{
        margin: 0px auto 50px;
    }
    .tabs__content{
        width: 100%;
        margin:0;
    }
    .tabs{
        padding: 0px 30px;
    }
    .tabs__reviews {
         left: 0;
         right: 0;
         margin: 0 auto;
    }
    .list__link{
        justify-content: center;
    }
}
@media(max-width: 940px){
    .top__inner-form{
        position: absolute;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .top__inner-suptitle,
    .top__inner-title,
    .top__inner-text{
        width: 280px;
        margin-right: 100px;
    }
    .top__inner-suptitle{
        margin-top: 30px;
    }
    .top__inner-title{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .top__inner-text{
        font-size: 16px;
        margin-bottom: 60px;
    }
    .advantages__inner{
        padding-top: 25px;
    }
    .popularity {
        padding-top: 100px;
    }
    .popularity__wrapper {
        min-height: 1150px;
    }
    .popularity__right-title {
        line-height: 40px;
        font-size: 30px;
        margin-top: 30px;
    }
    .popularity__right-subtitle {
        text-align: center;
        padding: 40px 0px 30px 0px;
    }
    .popularity__right{
        max-width: 578px;
    }
    .popularity__right-list {
        width: 485px;
    }
    .popularity__right-list li {
        margin-bottom: 30px;
        padding-left: 30px;
    }
    .history__form{
        padding-right: 50%; 
    }
    .history__form::after{
        right: 20px;
    }
    .form__btn:after{
        right: 30px;
    }
    .quote__inner{
        font-size: 18px;
        line-height: 36px;
        padding: 50px 55px;
    }
    .author{
        font-size: 16px;
    }
    .author span{
        font-size: 12px;
    }
    .reviews__link {
        justify-content: flex-end;
        margin: 25px 0px 0px 0px;
        flex-direction: column;
    }
    .reviews__link-all {
        margin: 25px auto;
    }
    .reviews__link-wrapp {
        position: relative;
        margin: 20px auto;
    }
    .reviews__link-btn {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media(max-width: 768px){
    .header__text{
        font-size:14px;
    }
    .top__images{
        background-image: url(../images/top-tablet_bg.jpg);
        min-height: 544px;
        max-width: 768px;
    }
    .popularity__wrapper .container-fluid{
        padding: 10px;
    }
    .popularity__wrapper{
        background-image: url(../images/popularity_tablet.jpg);
        min-height: 1222px;
        background-size: contain;
    }
    .popularity__right-title{
        margin-top: 0px;
    }
    .history{
        margin-bottom: 0px;
    }
    .history__form{
        padding-right: 57%;
        padding-left: 70px; 
        padding-bottom: 150px;
    }
    .history__form::after{
        top: -20px;
        right: 22px;
    }
    .form__btn {
        padding: 22px 50px 22px 0px;
    }
    .item {
        width: auto;
    }
    .items__title {
        padding: 90px 75px;
        max-width: 100%;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .item__content-title{
        font-size: 10px;
    }
    .item__content-img.first{
        margin-bottom: 15px;
    }
    .composition__row {
        justify-content: space-around;
    }
    .composition__box {
        max-width: 70%;
        order: -1;
        
    }
    .composition__box-title{
        font-size: 30px;
        line-height: 40px;
    }
    .composition__box-title br{
        display: none;
    }
    .composition__item{
        width: 45%;
    }
    .composition__item-inner{
        height: 330px
    }
    .composition__link-text::before{
        display: none;
    }
    .composition__link-text_none{
        display: none;
    }
    .composition__link{
        max-width: 47%;
        padding: 70px 27px 135px 35px;
        margin-left: 0px;
        order: 1;
    }
    .composition__link+.composition__item{
        order: -1;
    }
    .composition__link-text{
        padding-left: 0px;
    }
    .composition__link-btn {
        width: 100%;
        bottom: 61px;
    }
    .composition__link-btn a{
        min-width: 100%;
        padding: 20px 70px 20px 40px;
        position: inherit;
    }
    .composition__link-btn a:after {
        top: 27px;
        right: 30px;
    }
    
    .reviews__title{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 45px;
        text-align: center;
    }
    .reviews__title br{
        display: none;
    }
    .review-tab-item__none{
        display: none;
    }
    .review-tab-item.active-review-tab.reviews__location-sng,
    .review-tab-item.active-review-tab.reviews__location-es{
        flex-direction: column;
    }
    .review-tab-item li {
        width: 100%;
        padding-left: 45px;
    }

}
@media(max-width: 740px){
    .top__inner-img img{
        width:200px;
    }
    .top__inner-suptitle,
    .top__inner-title,
    .top__inner-text{
        width: 280px;
        margin-right: 50px;
    }
    .advantages__inner{
        padding-top: 180px;
    }
    .reviews__location{
        width: 100%;
        display: flex;
        padding-left: 45px;
    }
    .reviews__link-wrapp {
        margin: 20px auto;
    }
    .reviews__link{
        padding: 0px;
    }
}
@media(max-width: 700px){
    .header__text{
        display:none;
    }
    .popularity__wrapper {
        min-height: 1168px;
    }
    .history__form{
        padding-right: 55%;
        padding-left: 30px; 
    }
    .history__form::after{
        max-width: 50%;
    }
    .composition{
        padding-top: 120px;
    }
    .composition__link{
        text-align: center;
    }
    .composition__link-btn{
        right: 50%;
    }
    .composition__link-btn a {
        padding: 20px 0px 20px 45px;
    }
    .composition__link-btn a:after {
        display: none;
    }
    .reviews__link {
        margin: 0px;
        text-align: center;
    }
    .reviews__link-all {
        margin: 0px;
    }
    .reviews__link-wrapp {
        margin: 20px 0px;
        width: 100%;
        padding: 0px;
    }
    .reviews__link-btn {
        position: unset;
    }
    .reviews__link-btn a {
        font-size: 12px;
        padding: 23px 20px 23px 20px;
        background-color: #7eb252;
        width: 100%;
        display: block;
        text-align: center;
    }
    .reviews__link-btn a:after{
        display: none;
    }
}
@media(max-width: 600px){
    .header__inner {
        height: 65px;
    }
    .top__images{
        background-image: url(../images/top-mobail_bg.jpg);
        min-height: 375px;
        max-width: 600px;
    }
    .top__inner{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        margin-top:60px;
    }
    .top__inner-img img{
        width:85px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .top__inner-form{
        position: static;
        align-items: center;
        text-align: center;
    }
    .top__form{
        display: none;
    }
    .top__inner-text{
        display: none;
    }
    .top__inner-suptitle{
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .top__inner-title{
        font-size: 30px;
        line-height: 36px;
    }
    .top__inner-suptitle,
    .top__inner-title{
        width: 100%;
        margin: 0 auto;
    }
    .mobile__link-btn{
        display: block;
        width: 100%;
        background-color: #7eb252;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        line-height: 22px;
        font-weight: 700;
        text-align: center;
        padding:24px 0px;
    }
    .advantages {
        margin-bottom: 0px;
    }
    .advantages__inner{
        padding-top: 55px;
    }
    .advantages__item{
        width: 80%;
        margin-bottom: 20px;
    }
    .list__title{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        max-width: 270px;
    }
    .tabs__content .tab-item{
        display: none;
    }
    .tabs__reviews{
        width: 100%;
        margin: 0 auto;
    }
    .list__inner {
        padding-bottom: 160px;
    }
    .list__inner::before, 
    .list__inner::after{
        display: none;
    }
    .tabs__content {
        display: contents;
    }
    .tab.active::after{
        display: none;
    }
    .tab__box .tab {
        width: 100%;
    }
    .tab__box .tab:nth-child(2), 
    .tab__box .tab:last-child {
        padding-left: 0;
        order: 1;
    }
    .tab__box .tab:first-child,
    .tab__box .tab:nth-child(3){
        border-right: none;
    }
    .tab__box .tab:last-child{
        border-bottom: none;
    }
   .tabs__reviews-link{
        left: 30%;
   } 
   .popularity__wrapper {
        min-height: 1020px;
    }
    .popularity__right-title {
        line-height: 30px;
        font-size: 24px;
    }
   .popularity__box {
        width: 100%;
        bottom: 7%;
    }
   .popularity__box-text {
        border: none;
   }
   .popularity__box-link{
       left:0;
       width: 100%;
       text-align: center;
       padding: 22px 0px;
   }
   .popularity__box-link:after{
       display: none;
   }
   .history__title{
       font-size: 20px;
       line-height: 26px;
       padding-bottom: 10px;
   }
   .history__text{
        padding-bottom: 60px;
   }
   .history__text p {
       font-size: 14px;
   }
   .history__form{
        padding-top: 420px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .history__form input{
        text-align: center;
    }
    .history__form .form__btn{
        font-size: 12px;
        padding: 22px;
        position: absolute;
        left: 0;
    }
    .history__form .form__btn::after{
        display: none;
    }
    .history__form::after{
        max-width: 100%;
        width: 60%;
        left: 20%;
    }
    .quote__inner {
        font-size: 14px;
        line-height: 24px;
        padding: 10px 13px;
        border: none;
    }
    .author {
        font-size: 14px;
    }
    .composition__box{
        padding-left: 0px;
        max-width: 75%;
    }
    .items__title {
        padding: 90px 0px;
        font-size: 24px;
        line-height: 30px;
    }
    .composition__box-list li{
        font-size: 14px;
    }
    .items__inner {
        flex-direction: column;
    }
    .item {
        min-height: 200px;
    }
    .item__content-title{
        font-size: 12px;
    }
    .composition__link-text p{
        font-size: 14px;
    }
    .composition__link-btn a{
        font-size: 12px;
        padding-left: 10%;
    }
    .composition__link{
        padding: 45px 15px 100px 20px;
    }
    .composition__link-text p{
        margin-bottom: 50px;
    }
}
@media(max-width: 480px){
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__phone{
        font-size: 14px;
        line-height: 230px;
    }
    .header__phone-text,
    .header__phone a:before{
        display:none;
    }
    .header__logo{
        line-height: 10px;
    }
    .header__logo img{
        width: 115px;
    }
    .top__inner-img{
        margin: 0px;
    }
    .top__inner-img img{
        width:85px;
    }
    .top__inner{
        margin-top: 30px;
    }
    .top__inner-suptitle,
    .top__inner-title{
        width: 165px;
        margin: 0 auto;
    }
    .advantages__item{
        width: 100%;
        padding: 0px;
        margin-bottom: 40px;
    }
    .advantages__item::before{
        display: none;
    }
    .tabs {
        padding: 0px;
    }
    .tab,
    .tab__box .tab,
    .list__link a{
        font-size: 12px;
    }
    .tabs__reviews .tabs__reviews-inner{
        padding: 35px 14px 35px 19px;
        margin: 0;
    }
    .tabs__reviews{
        padding: 0px;
    }
    .tabs__reviews-inner{
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.5px;
    }
    .tabs__content {
        display: contents;
    }
    .list__link a{
        padding: 22px 145px;
    }
    .list__link a::after{
        display: none;
    }
    .popularity{
        padding-top: 60px;
    }
    .popularity__right{
        padding:0px;
    }
    .popularity__right-subtitle {
        padding: 25px 0px;
    }
    .popularity__right-list{
        min-width: 300px;
        width: 100%;
    }
    .popularity__right-list li {
        margin-bottom: 20px;
        padding-left: 20px;
        font-size: 14px;
    }
    .popularity__right-list li:before{
        top: 20%;
    }
    .popularity__wrapper{
        background-image: url(../images/popularity_mobail.jpg);
        background-size: contain;
        min-height: 841px;
    }
    .popularity__box-link{
        display: none;
    }
    .popularity .mobile__link-btn{
        display:block;
        margin-top: 25px;
    }
    .popularity__wrapper {
        min-height: 895px;
        background-position-y: 74%;
    }
    .popularity__box{
        padding: 0px;
        bottom: 0%;
    }
    .popularity__box-text {
        font-size: 14px;
        text-align: center;
    }
    .history__form{
        padding-top: 382px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .history__form::after{
        width: 100%;
        background-image: url(../images/alonco_mobail.jpg);
        height: 382px;
        top:0;
        left:0;
    }
    .composition{
        padding: 120px 0 60px;
        position: relative;
    }
    .composition__box{
        max-width: 92%;
    }
    .composition__item{
        width: 100%;
    }
    .composition__box-title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
        text-align: center;
    }
    .composition__box-list li{
        margin-bottom: 20px;
    }
    .composition__link{
        max-width: 100%;
        border: none;
        padding-bottom: 0px;
        position: initial;
    }
    .composition__link-btn a{
        padding: 20px 0px;
    }
    .reviews{
        margin-top: 60px;
    }
    .reviews__inner{
        padding: 0px;
    }
    .reviews__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .reviews__location{
        padding-left: 0px;
    }
    .reviews__location span{
        padding: 25px 35px 0px 0px;
        font-size: 10px;
    }
    .review-tab-item li {
        padding: 20px 0px 0px;
    }
    .reviews__link {
        position: absolute;
        left: 0;
    }
}
/*@media (max-width: 320px){
    .popularity__wrapper {
        min-height: 900px;
        background-position-y: 74%;
    }
}*/